@model school.Models.acessoriosEdit

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<style>
    td{padding:10px;}
</style>
<div class="theme-panel hidden-xs hidden-sm">
				<div class="toggler">
				</div>
				<div class="toggler-close">
				</div>
				<div class="theme-options">
					
					<div class="theme-option">
						<span>
						Layout </span>
						<select class="layout-option form-control input-small">
							<option value="fluid" selected="selected">Fluid</option>
							<option value="boxed">Boxed</option>
						</select>
					</div>
					
					
					<div class="theme-option">
						<span>
						Sidebar Position </span>
						<select class="sidebar-pos-option form-control input-small">
							<option value="left" selected="selected">Left</option>
							<option value="right">Right</option>
						</select>
					</div>
					<div class="theme-option">
						<span>
						Footer </span>
						<select class="page-footer-option form-control input-small">
							<option value="fixed">Fixed</option>
							<option value="default" selected="selected">Default</option>
						</select>
					</div>
				</div>
</div>
<div class="row">
				<div class="col-md-12">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
					<h3 class="page-title">
					Alterar Acessório
					</h3>
					<ul class="page-breadcrumb breadcrumb"> 
						<li class="btn-group" style = "display : none;">
							<button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
							<span>Actions</span><i class="fa fa-angle-down"></i>
							</button>
							
						</li>
						<li>
							<i class="fa fa-home"></i>
							<a href="">Acessório</a>
							<i class="fa fa-angle-right"></i>
						</li>
					
					</ul>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
</div>
<div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box grey-cascade">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i> Alterar Acessório
							</div>
							<div class="tools" style = "display : none;">
								<a href="javascript:;" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
								<a href="javascript:;" class="remove">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">

                                    <h2 align="center">Alterar Acessório</h2>
                                    <form action="/smkItmes/acessoriosController" method="post" name="form1" id="form1">
                                    <input name="acao" id="acao" type="hidden" value="editar" />
                                    <input name="id" id="id" type="hidden" value="@Model.id" />
                                    <input type="hidden" id="idSmkItem" name="idSmkItem" value="@Model.idSmkItem" />
                                    <input type="hidden" id="calculo" name="calculo" value="acessorio" />

                                    <table border="0" align="center" id="tblDetalhes">
                                    <thead>
                                    <tr>
                                          <td nowrap="nowrap" width="110">Matéria prima:</td>
                                          <td><span id="descricao_item">@Model.descricao</span></td>
                                        </tr>
                                    <tr>
                                      <td>
                                        Quantidade:</td>
                                      <td><input type="text" name="quantidade" value="@Model.quantidade" class="input-small" id="quantidade" /></td>
                                    </tr>
                                    <tr>
                                      <th colspan="4"><div class="text-center"><input type="submit" value="Cadastrar" class="btn red" />
                                        <input type="button" value="Cancelar" onclick="javascript: window.history.back(-1)" class="btn blue" /></div></th>
                                    </tr>
                                    </thead>
                                    </table>
                                    </form>

                                    <?php } ?>
                             </div>
                        </div>
                    </div>