@model IEnumerable<school.Models.smk_itens>

@{
    ViewBag.Title = "Index";
}
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="theme-panel hidden-xs hidden-sm">
				<div class="toggler">
				</div>
				<div class="toggler-close">
				</div>
				<div class="theme-options">
					
					<div class="theme-option">
						<span>
						Layout </span>
						<select class="layout-option form-control input-small">
							<option value="fluid" selected="selected">Fluid</option>
							<option value="boxed">Boxed</option>
						</select>
					</div>
					
					
					<div class="theme-option">
						<span>
						Sidebar Position </span>
						<select class="sidebar-pos-option form-control input-small">
							<option value="left" selected="selected">Left</option>
							<option value="right">Right</option>
						</select>
					</div>
					<div class="theme-option">
						<span>
						Footer </span>
						<select class="page-footer-option form-control input-small">
							<option value="fixed">Fixed</option>
							<option value="default" selected="selected">Default</option>
						</select>
					</div>
				</div>
</div>
<div class="row">
				<div class="col-md-12">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
					<h3 class="page-title">
					Gerenciador do SMK ítens
					</h3>
					<ul class="page-breadcrumb breadcrumb"> 
						<li class="btn-group" style = "display : none;">
							<button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
							<span>Actions</span><i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
						</li>
						<li>
							<i class="fa fa-home"></i>
							<a href="">SMK Ítens</a>
							<i class="fa fa-angle-right"></i>
						</li>
					
					</ul>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
</div>
<div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box grey-cascade">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>SMK Ítens
							</div>
							<div class="tools" style = "display : none;">
								<a href="javascript:;" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
								<a href="javascript:;" class="remove">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
                                 <div class="btn-group">
									<button id="sample_editable_1_new" class="btn green">
									     @Html.ActionLink("Inserir novo", "Create")&nbsp<i class="fa fa-plus"></i>
									</button>
								</div>
                            </div>
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                
                                    <tr>
                                        <th>
                                            codigo_smk
                                        </th>
                                       
                                        <th>
                                            descricao
                                        </th>
                                        <th></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    @foreach (var item in Model) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.codigo_smk)
                                        </td>
                                       
                                        <td>
                                            @Html.DisplayFor(modelItem => item.descricao)
                                        </td>
                                        <td>
                                            <a class = "btn blue" href="/smkItmes/Edit/@item.id">Alterar</a> 
                                            <a class = "btn red" href="/smkItmes/Details/@item.id">Visualizar</a> 
                                            <a class = "btn yellow" href="/smkItmes/Delete/@item.id">Excluir</a>
                                          
                                        </td>
                                    </tr>
                                    }
                                 </tbody>
                                

                                </table>
                            </div>
                        </div>
                    </div>