@model school.Models.consumos

@{
    ViewBag.Title = "Delete";
}

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="theme-panel hidden-xs hidden-sm">
				<div class="toggler">
				</div>
				<div class="toggler-close">
				</div>
				<div class="theme-options">
					
					<div class="theme-option">
						<span>
						Layout </span>
						<select class="layout-option form-control input-small">
							<option value="fluid" selected="selected">Fluid</option>
							<option value="boxed">Boxed</option>
						</select>
					</div>
					
					
					<div class="theme-option">
						<span>
						Sidebar Position </span>
						<select class="sidebar-pos-option form-control input-small">
							<option value="left" selected="selected">Left</option>
							<option value="right">Right</option>
						</select>
					</div>
					<div class="theme-option">
						<span>
						Footer </span>
						<select class="page-footer-option form-control input-small">
							<option value="fixed">Fixed</option>
							<option value="default" selected="selected">Default</option>
						</select>
					</div>
				</div>
</div>
<div class="row">
				<div class="col-md-12">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
					<h3 class="page-title">
					Scholas 
					</h3>
					<ul class="page-breadcrumb breadcrumb"> 
						<li class="btn-group" style = "display : none;">
							<button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
							<span>Actions</span><i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
						</li>
						<li>
							<i class="fa fa-home"></i>
							<a href="index.html">Scholas</a>
							<i class="fa fa-angle-right"></i>
						</li>
					
					</ul>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
</div>
<div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box grey-cascade">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>Scholas Table
							</div>
							<div class="tools" style = "display : none;">
								<a href="javascript:;" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
								<a href="javascript:;" class="remove">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
                                <fieldset>
                                    <table class="table table-hover table table-bordered">
                                        <thead></thead>
                                        <tbody>
                                            <tr>
                                                <td>quantidade</td>
                                                <td> @Html.DisplayFor(model => model.quantidade)</td>
                                            </tr>
                                            <tr>
                                                <td>unidade</td>
                                                <td>@Html.DisplayFor(model => model.unidade)</td>
                                            </tr>
                                            <tr>
                                                <td>Materia Primas Id</td>
                                                <td>@Html.DisplayFor(model => model.materia_primas_id)</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </fieldset>
                                @using (Html.BeginForm()) {
                                     <p class="buttonParam">
                                        <input type="submit" value="Excluir" id="sample_editable_1_new" class="btn green"/> 
                                    </p>
                                    <button id="sample_editable_1_new" class="btn green">
                                        @Html.ActionLink("Voltar", "Index")
                                    </button>
                                }
                            </div>
                        </div>
                    </div>